@model ControlePedidos.Aplicacao.ViewModels.ItemPedidoViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    
    <div class="row">

        <div id="lstPedidos"></div>
    </div>
</p>

<script src="~/Scripts/Pedido/buscaPedido.js"></script>
<script src="~/Scripts/ItemPedido/itemPedido.js"></script>
<script src="~/Scripts/ItemPedido/listaItensPedido.js"></script>