<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table style="width:100%;">
        <tr>
            <td>oiiOIOIOIOI</td>
            <td>oiiOIOIOIOI</td>
            <td>oiiOIOIOIOI</td>
        </tr>
        <tr>
            <td>oiiOIOIOIOI</td>
            <td>oiiOIOIOIOI</td>
            <td>oiiOIOIOIOI</td>
        </tr>
        <tr>
            <td>oiiOIOIOIOI</td>
            <td>oiiOIOIOIOI</td>
            <td>oiiOIOIOIOI</td>
        </tr>
    </table>
</body>
</html>