@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div id="lstPrdouto"></div>
</div>
<script src="~/Scripts/Produto/produto.js"></script>
@Html.Partial("_excluirModal")
@Html.Partial("_msgModal")